.catalogo-auction-card {
    position: relative;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #f5f5f5;
    padding: 1rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.catalogo-auction-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.catalogo-auction-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.catalogo-auction-content-divider {
    padding-top: 2rem;
    min-height: 50px; /* Ajusta el mínimo para mantener altura consistente */
}

.catalogo-auction-time,
.catalogo-auction-price {
    margin: 0;
}

.catalogo-auction-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #1a202c;
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.catalogo-auction-description {
    color: #4b5563;
    font-size: 0.875rem;
}

.catalogo-auction-price {
    padding-bottom: 0.5rem;
}

.catalogo-auction-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 1rem;
}

.catalogo-bid-placeholder {
    display: inline-block;
    width:100%;
}

.catalogo-bid-button {
    background-color: #807e7e;
    font-size: 1rem;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.2s ease;
    border: none;
    cursor: pointer;
    outline: none;
}

.catalogo-bid-button:hover {
    background-color: #a6a6a6;
}

.catalogo-favorite-button {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    transition: all 0.3s ease;
}

.catalogo-favorite-button:hover {
    transform: scale(1.1);
}