.bids {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.bid-container {
    height: 100%;
    overflow-y: scroll;
    scrollbar-color: black transparent;
    flex-direction: column-reverse;
    display: flex;
}

.bid-container .bid-slide {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}

.bid-container .bid-slide p {
    width: 100%;
}

.bid-container .bid-slide p.bid-amount {
    text-align: center;
}

.bid-container .bid-slide p.datetime {
    text-align: right;
}