/* Estilos para el contenedor principal */
/* Estilos para el contenedor principal */
h1 {
    display: flex;
    text-align:center;
}

.catalogo-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Estilos para el contenedor de las tarjetas */
.tarjetas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
    margin-left: 0; /* Elimina el margen extra si no es necesario */
    width: 58%; /* Ajusta el ancho del bloque para hacerlo más compacto */
}

/* Estilos para las tarjetas */
.tarjetas-container .tarjeta {
    width: 20px; /* Reduce el ancho de las tarjetas */
    height: 25px; /* Ajusta la altura para hacerlas más pequeñas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Estilo opcional para tarjetas */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Asegúrate de que el contenido no se salga */
    background-color: #f9f9f9; /* Color de fondo opcional */
    padding: 10px; /* Espaciado interno opcional */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuir el contenido dentro de las tarjetas */
}
