.root-container {
    min-height: 100vh;
}

.banner-container {
    position: relative;
    height: 12rem;
    margin-bottom: 2rem;
    overflow: hidden;
}


.banner-background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 55%; /* Ajusta la posición vertical de la imagen */
    transition: background-image 0.3s ease;
}
.banner-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.banner-content {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}


.banner-title {
    font-size: 2.25rem;
    font-weight: 700;
    color: white;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5),
        -2px -2px 4px rgba(0, 0, 0, 0.5); /* Sombra más definida */
}

/* Media query para pantallas desktop */
@media (min-width: 1024px) {
    .banner-container {
        height: 20rem; /* Más altura para desktop */
    }
    
    .banner-background {
        object-fit: cover;
        object-position: center 65%; /* Ajusta esto para controlar el nivel de "zoom" */
    }
    .banner-title {
        font-size: 2.6rem;
    }
}